<form (ngSubmit)="onSubmit()" [formGroup]="artistForm">
  <h2>Create New Recipe</h2>
  <input type="text" formControlName="name" placeholder="name" class="form-control" id="name" name="name" >
  <input type="text" formControlName="surname" placeholder="surname" class="form-control" id="surname" name="surname">
  <input type="text" formControlName="image" placeholder="image" class="form-control" id="image" name="image">
  <input type="text" formControlName="birthdate" placeholder="birthdate" class="form-control" id="birthdate" name="birthdate">
  <input type="text" formControlName="citizenship" placeholder="citizenship" class="form-control" id="citizenship" name="citizenship">
  <input type="text" formControlName="genres" placeholder="genres" class="form-control" id="genres" name="genres">
  <!-- <select class="form-select" aria-label="Default select example" formControlName="genres" name="genres">
    <option selected>--Select type of Genre--</option>
    <option value="1">Pop</option>
    <option value="2">Rock</option>
    <option value="3">Country</option>
    <option value="4">Dance/ELectronic</option>
    <option value="5">Folk-Pop</option>
    <option value="6">Soft-Rock</option>
    <option value="7">Hard-Rock</option>
  </select> -->
  <ckeditor [editor]="Editor" [config]="editorConfig" formControlName="history" name="history" class="history"></ckeditor>
  <button type="submit" class="btn btn-primary button-add" [disabled]="!artistForm.valid">Add New Artist</button>
  <!-- <button type="button" class="btn btn-primary button-container">Close</button> -->
</form>

<ng-template #artistModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title">Nuova Artista</h5>
    <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss()"></button>
  </div>
  <div class="modal-body">
    <img [src]="newArtist.image" alt="Artist Image" class="artist-image">
    <p><strong>Name: </strong> {{ newArtist.name }}</p>
    <p><strong>Surname: </strong> {{ newArtist.surname }}</p>
    <p><strong>Birthdate: </strong> {{ newArtist.birthdate }}</p>
    <p><strong>Citizenship: </strong>{{ newArtist.citizenship }}</p>
    <p><strong>Genres: </strong> {{ newArtist.genres }}</p>
    <p><strong>History: </strong> <span [innerHTML]="newArtist.history"></span></p>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary butt-closeopen" (click)="modal.close()">Add New Recipe</button>
    <button type="button" class="btn btn-primary butt-closeopen" (click)="modal.dismiss()">Close</button>
  </div>
</ng-template>

