<footer>
  <div class="text-center">
    <div class="text-left">
      <img class="logo" src="../../../assets/icon/music.png" alt="Logo">
      <h3>Musically</h3>
    </div>

    <div class="icon-move">
      <button href="#"><i class="fa fa-facebook"></i>Facebook</button>
      <button href="#"><i class="fa fa-google-plus"></i>Google</button>
      <button href="#"><i class="fa fa-twitter"></i>Twitter</button>
      <button href="#"><i class="fa fa-instagram"></i>Instgram</button>
    </div>
    <p class="card-text">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste atque ea quis molestias.
      Fugiat pariatur maxime quis culpa corporis vitae repudiandae aliquam voluptatem veniam.
    </p>
  </div>
</footer>
