<!-- Artist -->
<!-- <div class="container-info" *ngIf="artistSelected"> -->
<div class="container-info">
  <div>
    <h2>Lady Gaga</h2>
    <img src="../../../assets/img/ladygaga.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: American</div>
    <div>Genres: Pop</div>
    <div>Songs: Bloody Mary, Judas, Shallow, Telephone, Poker Face</div>
    <p>pseudonimo di Stefani Joanne Angelina Germanotta (New York, 28 marzo 1986), è una cantautrice, compositrice, attrice e attivista statunitense.
      Artista camaleontica, conosciuta per i modi eccentrici, trae il proprio nome d'arte dal brano Radio Ga Ga dei Queen. Lady Gaga si è
      affermata nel panorama musicale tanto per il suo atteggiamento provocatorio quanto per la qualità delle sue esibizioni dal vivo; in molti, infatti,
      l'hanno definita una delle migliori interpreti pop del XXI secolo.
    </p>
  </div>

  <div >
    <h2>Michael Jackson</h2>
    <img src="../../../assets/img/michaelj.jpg">
    <div>Birthdate: June 20, 1995</div>
    <div>Citizenship: American</div>
    <div>Genres: Pop, Soul, Hip hop, Disco</div>
    <div>Songs: Billie Jean, Scream, Remember the time, Smile, They Don't Care about us</div>
    <p>Starting in the late 1980s, Jackson and the tabloid press had a difficult relationship. In 1986, tabloids claimed that Jackson slept in a hyperbaric
      oxygen chamber and had offered to buy the bones of Joseph Merrick (the "Elephant Man"), both of which Jackson denied. These stories inspired
      the derogatory nickname "Wacko Jacko", which Jackson despised. He stopped leaking untruths to the press, and the media began creating their own
      stories. In 1989, Jackson released "Leave Me Alone", a song about the victimization he felt by the press.
    </p>
  </div>

  <div>
    <h2>Bruno Mars</h2>
    <img src="../../../assets/img/brunomars.jpg">
    <div>Birthdate: October 8, 1985 (age 37)</div>
    <div>Citizenship: American</div>
    <div>Genres: Pop</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Shakira</h2>
    <img src="../../../assets/img/shakira.JPG">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: Brasiliana</div>
    <div>Genres: Pop</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Luke Bryan</h2>
    <img src="../../../assets/img/lukebryan.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: American</div>
    <div>Genres: Country</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Dolly Parton</h2>
    <img src="../../../assets/img/dollyparton.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: American African</div>
    <div>Genres: Country</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Louis Armstrong</h2>
    <img src="../../../assets/img/louisarmstrong.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: American</div>
    <div>Genres: Jazz</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Carmen McRae</h2>
    <img src="../../../assets/img/carmenmcrae.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: American</div>
    <div>Genres: Jazz</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Chet Atkins</h2>
    <img src="../../../assets/img/chetatkins.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: American African</div>
    <div>Genres: Rock</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>The beatles</h2>
    <img src="../../../assets/img/beatles.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: Mixed</div>
    <div>Genres: Rock</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Kris Allen</h2>
    <img src="../../../assets/img/krisallen.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: Japanese</div>
    <div>Genres: Pop, Rock</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>

  <div>
    <h2>Katy Perry</h2>
    <img src="../../../assets/img/katyperry.jpg">
    <div>Birthdate: March 28, 1986 (age 37 years)</div>
    <div>Citizenship: American</div>
    <div>Genres: Pop, Rock</div>
    <div>Songs: Lorem Ipsum is simply dummy text</div>
    <p>Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
      Lorem Ipsum is simply dummy text of the printing and
      typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
      when an unknown printer took a galley of type and scrambled it to make a type specimen book.
    </p>
  </div>
</div>

<!-- Songs -->
<!-- <div *ngIf="songSelected"> -->
<div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
  </div>
</div>
