@import "../../../styles/colors.scss";

.container-text {
  font-size: 1rem;
  top: 70rem;
  padding: 3rem;
  position: absolute;
}

.mymusic-title {
  font-size: 9rem;
  text-align: center;
  font-family: 'Gloria Hallelujah', cursive;
}

.backgM {
  position: static;
  height: 40rem;
  width: 100%;
}
