@import "../../../styles/colors.scss";

.container-card {
  display: block;
  float: left;
  width: 23%;
  margin-left: 1.6%;
  margin-bottom: 30px;

  .card {
    .card-image {
      height: 200px;
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }

    .card-body {
      .card-title {
        font-weight: bold;
        font-size: 2rem;
        color: $secondary-color-2;
      }

      .card-text {
        text-align: justify;
      }

      .btn {
        font-size: 15px;
        background-color: $secondary-color-2;
        border: none;
        margin: auto;
        display: block;
        font-weight: 700;
        padding: 13px;
      }
    }
  }
}
