@import "../../../styles/colors.scss";

footer {
  clear: both;
  background-color: $primary-color-1;
  padding: 20px;
}

.logo {
  width: 110px;
}

.text-center {
  text-align: center;
  margin-bottom: 10px;
}

.card-title {
  font-size: 20px;
  margin-bottom: 5px;
}

.card-text {
  font-size: 14px;
  color: $secondary-color-2;
}
