//primary colors:
$primary-color-1: #f1f1f1;
$primary-color-2: #566276;
$primary-color-3: #2b3442;
$primary-color-4: white;
$primary-color-5: #383737;

//secondary colors:
$secondary-color-1: black;
$secondary-color-2: #555555;
$secondary-color-3: rgb(182, 176, 176);
$secondary-color-4: red;
$secondary-color-5: rgb(141, 50, 7);
